<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>advjava</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>de</servlet-name>
    <servlet-class>basics.Demo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>de</servlet-name>
    <url-pattern>/demo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>basics.Test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/testf</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gs</servlet-name>
    <servlet-class>basics.GenericDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gs</servlet-name>
    <url-pattern>/generic</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DisplayDemo</display-name>
    <servlet-name>dd</servlet-name>
    <servlet-class>basics.DisplayDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dd</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reg</servlet-name>
    <servlet-class>basics.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reg</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>
</web-app>